






<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	    <meta content="Start your development with a Dashboard for Bootstrap 4." name="description">
	    <meta content="Spruko" name="author">
        <title>{% block title %}Login!{% endblock %}</title>
        
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap-grid.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap-grid.min.css') }}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container mt-5">
            <div class="jumbotron">
            <h3 class="text-center">Login</h3>
            <form action="{{ path('login') }}" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="_username" id="email" class="form-control" placeholder="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="_password" id="password" class="form-control" placeholder="mot de pass" required>
                </div>
                <button type="submit" class="btn btn-sm btn-primary">Se connecter</button>
                <a href="{{ path('home') }}" class="btn btn-sm btn-warning">Retour</a>
            </form>
            </div>
        </div>
    </body>
</html>