<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	    <meta content="Start your development with a Dashboard for Bootstrap 4." name="description">
	    <meta content="Spruko" name="author">
        <title>{% block title %}Accueil!{% endblock %}</title>
        
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap-grid.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap-grid.min.css') }}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container mt-5">
            <h1 class="text-center">HOME PAGE</h1>

            <div class=" row jumbotron">
                <a href="{{ path('login') }}" class="btn btn-info btn-sm">Connexion</a>
            </div>
        </div>
    </body>
</html>
