{% extends 'base.html.twig' %}

{% block title 'Employé' %}

{% block body %}
        <div class="container mt-4">
            <h3 class="text-center">Listes Employé</h3>

            {% for message in app.flashes('success')%}
                        <div class="alert alert-success">{{message}}</div>
            {% endfor %}
                <div class="row text-right mb-1">
                    <a class="btn btn-sm btn-info" href="{{ path('employer_new') }}">Nouveau</a>
                </div>
                <div class="row">
                <div class="table-responsive">
               <table id="experienceTable" class="table table-striped table-bordered w-100 text-nowrap">
                   <tr>
                        <thead>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Poste</th>
                            <th>Age</th>
                            <th>Expérience</th>
                            <th>Actions</th>
                        </thead>
                    </tr>
                    <tbody>

                        {% for employer in employers %}
                            <tr>
                                <td>{{ employer.nom }}</td>
                                <td>{{ employer.prenom }}</td>
                                <td>{{ employer.poste }}</td>
                                <td>{{ employer.age }} ans</td>
                                <td>{{ employer.experiences.title }}</td>
                                <td><a href="{{ path('employer_edit', {id:employer.id}) }}" class="btn btn-warning btn-sm" style="display:inline-block!important;">Modifier</a>
                                    <form method="POST" action="{{ path('employer_delete', {id:employer.id}) }}">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employer.id) }}">
                                        <button type="submit" class="btn btn-sm btn-danger" style="display:inline-block;" onclick="confirm('Supprimer?')">Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
               </table>
               </div>
                </div>
        </div>
{% endblock %}
