 {% extends 'base.html.twig' %}

{% block title %}Nouveau employer!{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="card border-info mb-3">
            <div class="card-header">Nouveau employer</div>
            <div class="card-body">
                 {{ include('employer/form.html.twig')}}  
            </div>
        </div>
    </div>
{% endblock %}
