<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	    <meta content="Start your development with a Dashboard for Bootstrap 4." name="description">
	    <meta content="Spruko" name="author">
        <title>{% block title %}Accueil!{% endblock %}</title>
        
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap-grid.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap-grid.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">CRUD EMPLOYE</a>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link{% if current_menu is defined and current_menu == 'employer'%} active {% endif%}" href="{{ path('employer_index') }}">Employé</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link{% if current_menu is defined and current_menu == 'experience'%} active {% endif%}" href="{{ path('experience_index') }}">Expérience</a>
                </li>
              </ul>

                <ul class="navbar-nav">
                  {% if app.user %}
                  <li class="nav-item">
                    <a href="{{ path('logout') }}" class="nav-link active"> [{{ app.user.username }}]</strong> Déconnexion</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a href="{{ path('login') }}" class="nav-link active">Connexion</a>
                  </li>
                </ul>
              {% endif %}
            </div>
          </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script>
          var resizefunc = [];
        </script>
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/popper.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('assets/js/dataTables.bootstrap4.min.js') }}"></script>
    </body>
</html>
