 {% extends 'base.html.twig' %}

{% block title %}Modification!{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="card border-info mb-3">
            <div class="card-header">Modification experience</div>
            <div class="card-body">
                 {{ include('experience/form.html.twig')}}  
            </div>
        </div>
    </div>
{% endblock %}
