{% extends 'base.html.twig' %}

{% block title 'Expérience' %}

{% block body %}
        <div class="container mt-4">
            <h3 class="text-center">Listes Expériences</h3>
            {% for message in app.flashes('success')%}
                        <div class="alert alert-success">{{message}}</div>
            {% endfor %}
                <div class="row text-right mb-1">
                    <a class="btn btn-sm btn-info" href="{{ path('experience_new') }}">Nouveau</a>
                </div>
                <div class="row">
                <div class="table-responsive">
               <table id="experienceTable" class="table table-striped table-bordered w-100 text-nowrap">
                   <tr>
                        <thead>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </thead>
                    </tr>
                    <tbody>

                        {% for experience in experiences %}
                            <tr>
                                <td>{{ experience.title }}</td>
                                <td>{{ experience.description }}</td>
                                <td><a href="{{ path('experience_edit', {id:experience.id}) }}" class="btn btn-warning btn-sm" style="display:inline-block;">Modifier</a>
                                    <form method="POST" action="{{ path('experience_delete', {id:experience.id}) }}">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ experience.id) }}">
                                        <button type="submit" class="btn btn-sm btn-danger" style="display:inline-block;" onclick="confirm('Supprimer?')">Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
               </table>
               </div>
                </div>
        </div>
{% endblock %}
